/* CSS Reset */
* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #A6EBC9;
  }

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
}

.notification.show {
    transform: translateX(0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #62AB37;
    height: 3rem;
    padding: 0 1rem;
}

.logo {
    font-size: 35px;
}

.nav-logo {
    text-decoration: none;
    color: black;
}

.nav-logo:hover {
    color: white;
}

.nav-links {
    display: flex;
}

.nav-item {
    font-size: 1.5rem;
    margin: 0rem 3rem;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    color: white;
}

.logout-button {
    background: none;
    border: none;
}


.welcome-header{
    text-align: center;
    margin-bottom: 1rem;
}