/* CSS Reset */
* {
    margin: 0;
    padding: 0;
  }

  .maincontainer {
    display: flex;
    padding: 1rem;
}

.chart-section {
    flex: 1;
    min-width: 500px;
}

.table-section {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notification-container {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1000;
}

.notification {
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
    background-color: #62AB37;
    padding: 10px;
}

.notification.show {
    transform: translateX(0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #62AB37;
    height: 3rem;
    padding: 0 1rem;
}

.logo {
    font-size: 35px;
}

.nav-logo {
    text-decoration: none;
    color: black;
}

.nav-logo:hover {
    color: white;
}

.nav-links {
    display: flex;
}

.nav-item {
    font-size: 1.5rem;
    margin: 0rem 3rem;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    color: white;
}

.logout-button {
    background: none;
    border: none;
}


.welcome-header{
    text-align: center;
    margin-bottom: 1rem;
}

.chart-info {
    display: flex;
    justify-content: space-between;
}

.portfolio {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

.port-info td {
    border: solid black 1px;
    padding: 1.5rem;
}

.port-header {
    margin:0.7rem;
}

.symbol-header {
    margin-bottom: 0.20rem;
}

.price {
    margin: 0.2rem;
}