/* CSS Reset */
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  body {
    min-height: 100vh;
    height:100%
  }

a {
    text-decoration: none;
    color: #62AB37;
}

a:hover {
    color: #68c92f
}

button {
    padding: 0.3rem;
    border: none;
    cursor: pointer;
    background-color: #62AB37;
}
  
button:hover {
    background-color: #68c92f;
  }

nav {
    font-family: "Open Sans", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #62AB37;
    height: 3rem;
    padding: 0 1rem;
}

.logo {
    font-size: 35px;
}

.nav-logo {
    text-decoration: none;
    color: black;
}

.nav-logo:hover {
    color: white;
}

.nav-links {
    display: flex;
}

.nav-item {
    font-size: 1.5rem;
    margin: 0rem 3rem;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    color: white;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

footer{
    background-color: #8d99ae8c;
    text-align: center;
}

#notification-container {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1000;
}

.notification {
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
    background-color: #62AB37;
    padding: 10px;
}

.notification.show {
    transform: translateX(0);
}


.welcome-header{
    text-align: center;
    margin-bottom: 1rem;
}

  .maincontainer {
    display: flex;
    padding: 1rem;
}

.chart-section {
    flex: 1;
    min-width: 500px;
    border: #62AB37 solid;
}

.chart-info {
    display: inline-flex;
}

.currency {
    float: right;
    display: flex;
}

.table-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #62AB37 solid;
}

.port-header {
    margin:0.7rem;
}

.symbol-header {
    margin-bottom: 1rem;
}

.price {
    margin: 0.5rem;
}

table {
    border-collapse: collapse;
}

tr, td, th {
    padding: 1rem;
    border: black solid 1px;
}